/* contenedor principal */
.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d1d;
}


/* caja */
.register-box {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px 200px;
    background: #2a2a2a;
    border-radius: 12px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.6s ease;
}


/* contenido */
.register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}


/* título */
.register-content h1 {
    text-align: center;
    font-size: 42px;
    margin: 0;
    color: #f5a623;
}


/* subtítulo */
.register-subtitle {
    text-align: center;
    font-size: 18px;
    color: #ccc;
}


/* fila de inputs */
.form-row {
    display: flex;
    gap: 15px;
    width: 100%;
}


/* inputs */
.form-row input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.form-row input::placeholder {
    color: #999;
}

.form-row input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(245, 166, 35, 0.6);
}


/* botón */
.register-content button {
    margin-top: 22px;
    width: 60%;
    padding: 16px;
    background: #f5a623;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    font-size: 20px;
    color: white;
    font-weight: bold;

    transition: all 0.2s ease;
}

.register-content button:hover {
    box-shadow:
        0 0 10px rgba(245, 166, 35, 0.6),
        0 0 25px rgba(245, 166, 35, 0.4);
    transform: translateY(-2px);
}

.register-content button:active {
    transform: scale(0.97);
}


/* botón volver */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.back-button svg {
    font-size: 34px;
    color: #f5a623;
    stroke-width: 3;
}

.back-button:hover svg {
    filter: drop-shadow(0 0 6px rgba(245, 166, 35, 0.8));
}

.back-button:active {
    transform: scale(0.9);
}


/* animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}